:root{
  --rhino-blue: #37456B;
  --watermelon-red: #fe5668;
  --topaz: #ffc368;
  --pweter-blue: #8DA7BE;

  --eerie-black: #101020;
  --gunmetal: #2C2C33;
  --vanilla: #F2F3AE;
  --flax: #EDD382;
  --neon-carrot: #FC9E4F;
  --giants-orange: #FF521B;

  --background-color: var(--gunmetal);
  --highlight-one: var(--giants-orange);
}
